<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
      <div class="multinav">
        <div class="multinav-scroll" style="height: 100%;">
          <!-- sidebar menu-->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
              <a href="javascript:" (click)="showPatientsSubmenu = !showPatientsSubmenu">
                <i class="icon-Compiling"><span class="path1"></span><span class="path2"></span></i>
                <span>Patients</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu" *ngIf="showPatientsSubmenu">
                <li><a routerLink="patient/register"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Register patient</a></li>
                <li><a routerLink="patient/list"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Search patient</a></li>
              </ul>
            </li>
          </ul>
    
        </div>
      </div>
    </section>
    </aside>
    