<div class="container h-p100">
    <div class="row align-items-center justify-content-md-center h-p100">	
        
        <div class="col-12">
            <div class="row justify-content-center g-0">
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="bg-white rounded10 shadow-lg">
                        <div class="content-top-agile p-20 pb-0">
                            <h2 class="text-primary">Mediconnect</h2>
                            <p class="mb-0">
                                An innovative and comprehensive medical application aimed at seamlessly
                                connecting various healthcare services.
                            </p>							
                        </div>
                        <div class="p-40">
                                
                            <div class="row">
                                
                                <div class="col-4 text-center">
                                    <a class="btn btn-primary mt-10" routerLink="secretary">Secretary</a>
                                </div>
                                <div class="col-4 text-center">
                                    <a class="btn btn-primary mt-10" routerLink="doctor">Doctor</a>
                                </div>
                                <div class="col-4 text-center">
                                    <a class="btn btn-primary mt-10" routerLink="nurse">Nurse</a>
                                </div>
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>